<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="jumbotron " style="background-image:2.jpg">
    <div class="row">
            <div class="col-lg-12">
  
              <ul class="list-unstyled">
                <li class="float-lg-right"><a href="#top">Back to top</a></li>
                <li><a href="https://facebook.com" onclick="pageTracker._link(this.href); return false;">Facebook</a></li>
                <li><a href="https://instagram.com">Instagram</a></li>
                <li><a href="https://twitter.com">Twitter</a></li>
              </ul>
              <BR>
                <br>

              <h6>Made by Sparsh Kesari </h6>
              <h7>USN: 1DS18CS191</h7>
             <br>
             <hr>
              <h6>Made by Sumit Kumar </h6>
              <h7>USN: 1DS18CS192</h7>
<hr>
            </div>
          </div>       
          <p>Copyright by the Office 2020</p>


</p>
  </div>

    </body>
 </html>


 
