<%- include('../partials/header'); -%>


<h3>
   Dear <%= office.author.username %>,
</h3>

<br>
Congratulations, Your office is booked.
Please contact the office manager for further details.

<%- include('./partials/footer'); -%>
