<%- include('./partials/header'); -%>


<h4>Sign up Page </h4>

<form action="/register" method="post">
  <input type="text" name="username" placeholder="UserName">
  <input type ="password" name="password" placeholder = " password">
  <button>SignUp!!</button>
</form>


<%- include('./partials/footer'); -%>
